.App {
  text-align: center;
}
.container{
  min-width :100vw;
  min-height :20vw;
}
.close {
  animation: close-spin infinite 20s linear;
  background-color: aqua;
  height: 20vmin;
  pointer-events: none;
}
.open {
  animation: open-spin infinite 20s linear;
  background-color: chartreuse;
  height: 20vmin;
  pointer-events: none;
}
h1{
  background-color: black;
  width: 20vw;
  margin: 30px auto;
  color : white;
  animation-duration: 3s;
  animation-name:close-spin slidein;
}

@keyframes open-spin {
  from {
    transform: rotate(0deg);
   
  }
  to {
    transform: rotate(360deg); 
  }
}
@keyframes close-spin {
  from {
    transform: scale(0deg);
  }
  to {
    transform: scale(360deg); 
  }
}
